<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056669238379-jdnkp5qvfjrfuub0sai0ba8a5uv4bi6i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056669238379-jdnkp5qvfjrfuub0sai0ba8a5uv4bi6i</string>
	<key>API_KEY</key>
	<string>AIzaSyA0Ox9WZ1QvmLl21roiM0QlGUi46mNMl70</string>
	<key>GCM_SENDER_ID</key>
	<string>1056669238379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-9987.PodcastApp</string>
	<key>PROJECT_ID</key>
	<string>podcastapp-7e664</string>
	<key>STORAGE_BUCKET</key>
	<string>podcastapp-7e664.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056669238379:ios:81d1f44bda45c8e9a09d2e</string>
</dict>
</plist>